body{
    background-image: url("https://i.gifer.com/8BbM.gif") ;
}

h1{
    color:white;
    text-align: center;
    font-size:500%;
}

p{
    text-align: center;
    color:azure;
    font-size:xx-large;
    width: fit-content;
    margin-top: 10%;
    margin-left: 25%;
}

h4{
    color:white;
    text-align: center;
    margin:6%;
}

iframe{
    margin:0 auto;
    display: block;
    border-style: none;
    
}