/*.navbar{
    color: white;
    font-family: 'Times New Roman';
    font-size:small;
}*/

.navbar-custom{
    background-color: rgb(41, 40, 40);
}

#A_ver{
    color: white;
    font-family: 'Times New Roman';
    font-size:xx-large;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    /*background-color: aquamarine;*/
    background-image: linear-gradient(to bottom right,rgb(47, 240, 175),rgb(240, 41, 213));
}

.card-border{
    border: solid 5px #198754;
    border-radius: 20px;
    overflow: hidden;
    transition:all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.rotate_image {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    background-color: transparent;
}

body{
    background-image:url(https://wallpaperaccess.com/full/1442551.jpg);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height https://occam3d.dev/sites/syfy/files/2022/01/unknown_3.jpeg*/
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

 .card-title{
    font-family: 'Times New Roman';
    font-style: oblique;
}
.card-text{
    font-family: 'Times New Roman';
}


.item-queda {
    width: 100%;
    height: 50vw;
    object-fit: contain;
    background-color: transparent;
    /*background-image: linear-gradient(to bottom right,rgb(47, 240, 175),rgb(240, 41, 213));*/
}

.textoo{
    border: solid 3px #198754;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    /*margin-left: 200px;
    margin-right: 200px;*/
    color:rgb(27, 27, 27);
    font-family:'Times New Roman';
    background-color: azure;
    font-size:large;
}


.textoo1{
    border: solid 3px #198754;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
   /* margin-left: 200px;
    margin-right: 200px;*/
    color:rgb(27, 27, 27);
    font-family:'Times New Roman';
    background-color: azure;
    font-size:large;
}

.textoo2{
    border: solid 3px #198754;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 200px;
    margin-right: 200px;
    color:rgb(27, 27, 27);
    font-family:'Times New Roman';
    background-color: azure;
    font-size:large;
    margin-top: 25px;
}